<footer class="footer">
    <div class="footer__social">
        <a href="#" class="social__link"><i class="footer__icon icon-f fab fa-facebook-f"></i></a>
        <a href="#" class="social__link"><i class="footer__icon icon-t fab fa-twitter"></i></a>
        <a href="#" class="social__link"><i class="footer__icon icon-i fab fa-instagram"></i></a>
    </div>
    <div class="footer__categories">
        <!-- <h1 class="categories__title">categories</h1> -->
        <ul class="footer__grid categories__list">
            <li class="categories__item"><a href="/paperwork/aboutUs" class="categories__link">About Us</a></li>
            <li class="categories__item"><a href="/paperwork/termsAndConditions" class="categories__link">Terms and Conditions</a></li>
            <li class="categories__item"><a href="/paperwork/privacy" class="categories__link">Privacy</a></li>
            <li class="categories__item"><a href="/paperwork/refundsAndCancellations" class="categories__link">Refunds and Cancellations</a></li>
            <li class="categories__item"><a href="/paperwork/pricing" class="categories__link">Pricing</a></li>
        </ul>



    </div>
    <hr class="footer__line">
    <div class="promises">
        <h3 class="promises__title promises__left">original products</h3>
        <h3 class="promises__title promises__right">100% buyer protection</h3>
    </div>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="/scripts/header.js"></script>


<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->

</body>

</html>