<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Pleasure</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="/stylesheets/partials/footer.css">
    <link rel="stylesheet" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">


</head>

<body>



    <header class="header">
        <i id="sidebar-open" class="toogle fas fa-bars"></i>
        <a href="/index" class="brand__logo">pleasure</a>
        <a class="cart__container" href="/cart"><i class=" cart fas fa-shopping-cart"></i></a>

        <div class="overlay">
            <div class="close__container"><i id="sidebar-close" class="sidebar__close fas fa-times"></i></div>

        </div>

        <aside class="sidebar" id="sidebar">

            <div class="sidebar__profile">

                <img class="profile__image" src="images/user-circle-solid.svg" alt="">
                <h4 class="profile__username">guest</h4>


            </div>
            <ul class="sidebar__list">
                <%if(!currentUser){%>
                    <li class="sidebar__item "><a href="/" class="sidebar__link">sign in</a></li>

                    <%}else{%>
                        <li class="sidebar__item"><a href="/logout" class="sidebar__link">logout <i
                                    style="color:red" class=" sidebar__link__icon fas fa-sign-out-alt"></i></a></li>
                        <%}%>


                            <li class="sidebar__item"><a href="/orders" class="sidebar__link">my orders</a></li>
                            <li class="sidebar__item"><a href="/wishlist" class="sidebar__link">wishlist<i
                                         class="sidebar__link__icon fas fa-heart"></i></a></li>
                            <li class="sidebar__item"><a id="submenu-toogler" href="#" class="sidebar__link">categories
                                    <i style="color:black" class=" sidebar__link__icon fas fa-chevron-down"></i></a>
                                <ul id="submenu" class="submenu">
                                    <li class="submenu__item"><a href="/tags/merch" class="submenu__link">merch</a></li>
                                    <li class="submenu__item"><a href="/tags/sportswear"
                                            class="submenu__link">sportswear</a></li>
                                    <li class="submenu__item"><a href="/tags/korean" class="submenu__link">korean</a>
                                    </li>
                                    <li class="submenu__item"><a href="/tags/handbag" class="submenu__link">handbag</a>
                                    </li>
                                    <li class="submenu__item"><a href="/tags/beauty" class="submenu__link">beauty
                                            products</a></li>
                                    <li class="submenu__item"><a href="/tags/lingerie"
                                            class="submenu__link">lingerie</a></li>
                                    <li class="submenu__item"><a href="/tags/shoes" class="submenu__link">shoes</a></li>
                                    <li class="submenu__item"><a href="/tags/winterwear" class="submenu__link">winter
                                            wear</a></li>
                                </ul>

                            </li>

            </ul>

        </aside>


    </header>
    <script>
        
        var currentUserString = '<%-JSON.stringify(currentUser)%>';
        var currentUser = JSON.parse(currentUserString);
        var profileImageDisplay = document.querySelector('.profile__image');
        var usernameDisplay = document.querySelector('.profile__username');
        profileImageDisplay.setAttribute('src', currentUser.profileImage);
        usernameDisplay.textContent = currentUser.username;

    </script>