<link rel="stylesheet" href="/stylesheets/partials/searchForm.css" />
<form action="/search" class="search__form" method="POST">
  <i class="form__icon fas fa-search"></i>
  <input
    name="query"
    type="text"
    class="form__input"
    placeholder="search for products and items...."
  />
</form>
