<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
    body {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        padding: 0 50px;
        text-align: center;
    }
    .container__title {
        font-size: 38px;
        font-weight: 400;
        text-transform: uppercase;
    }
</style>
<body>
    <div class="container">
        <h1 class="container__title">fashion & lifestyle</h1>
        <p>Our story began on the streets of India and continues to draw inspiration from beautiful destinations around the world. </p>
        <p>We obsess about design and exceptional quality, creating beautiful clothes that work for every occasion and transcend seasons. We use ethical and responsible manufacturing practices – all our products are made in India with love. To reduce our carbon footprint, we use mainly natural and sustainable fabrics and our printing uses significantly less water so it’s more environmentally friendly.</p>
        <p>Our philosophy is to evoke a wanderlust and free spirit in all our wearers. Whether you are the trend seeker, the hustler, the activist, the social media gal, the life of the party, the believer, we’ll dress you.</p>
    </div>
</body>
</html>