<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
    body {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        padding: 0 50px;
    }
    h1 {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }
    h4 {
        font-size: 24px;
        font-weight: 400;
    }
    b {
        font-weight: 600;
    }
</style>
<body>
    <h1>Pricing</h1>

    <h4>Retail price</h4>
    <p>Many retailers benchmark their pricing decisions using keystone pricing (explained below), which is essentially doubling the cost of the product to set a healthy profit margin. However, in many instances, you'll want to mark up your products higher or lower, depending on your specific situation.</p>
    <p>Here’s an easy formula to help you calculate your retail price:</p>
    <p><b>Retail Price = [(Cost of item) ÷ (100 - markup percentage)] x 100</b></p>
    <p>For example, you want to price a product that costs you $15 at a 45% markup instead of the usual 50%. Here's how you would calculate your retail price:</p>
    <p><b>Retail Price = [(15) ÷ (100 - 45)] x 100</b></p>
    <p><b>Retail Price = [(15 ÷ 55)] x 100 = $27</b></p>
    <p>While this is a relatively simply markup formula, this pricing strategy doesn’t work for every product in every retail business. Because every retailer is unique, we’ve rounded up 10 common pricing strategies and weighed the advantages and disadvantages of each to make your decision-making simpler.</p>

    <h4>Keystone pricing: A simple markup formula</h4>
    <p>This is a pricing strategy that retailers use as an easy rule of thumb. Essentially, it’s when a retailer would simply double the wholesale cost they paid for a product to determine the retail price. Now, there are a number of scenarios in which the price of a product using keystone pricing may be too low, too high, or just right for your business.</p>
    <p>If you have products that have a slow turnover, have substantial shipping and handling costs, and are unique or scarce in some sense, then you might be selling yourself short with keystone pricing. In any of these cases, a retailer could likely use a higher markup formula to increase the retail price for these in-demand products.</p>
    <p>On the other hand, if your products are highly commoditized and easily available elsewhere, using keystone pricing can be harder to pull off.</p>
    <ul>
        <li><b>Pros:</b>The keystone pricing strategy works as a quick-and-easy rule of thumb that ensures an ample profit margin.</li>
        <li><b>Cons:</b>Depending on the availability and the demand for a particular product, it might be unreasonable for a retailer to markup a product that high.
        </li>
    </ul>
</body>
</html>