<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange and Refund</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
    body {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        padding: 0 50px;
    }
    .container__title {
        font-size: 28px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
    }
</style>
<body>
    <div class="container">
        <h3 class="container__title">EXCHANGES AND REFUNDS</h3>
        <p>We offer free returns and exchange on products bought from us.</p>
        <p>1) We offer free returns for a period of 4 days from your receiving the product. To be eligible for a return the product should not be washed, worn or altered. The product should be returned with its original price tag, packaging bag, and label. Please go to "My Account" and follow instructions for Returns.</p>
        <p>2) We offer free size exchange for all products for a period of 4 days from your receiving the product. Size exchange shall be done at no additional cost. To be eligible for exchange the product should not be washed, worn or altered. The product should be returned with its original price tag, packaging bag, and label. Please go to "My Account" and follow instructions for Exchange.</p>
        <p>3) Your exchange request must be received within 4 days of product delivery. After which there will be reverse pickup within 3 to 5 days. You will received the exchanged product thereafter. We accept an exchange only once. We will not accept return of an exchanged item.</p>
        <p>4)Your return request must be received within 4 days of product delivery. We will accept it and initiate reverse pickup within 3 to 5 days. It will take about 7 to 10 days to reach our warehouse. Once we have received your product and checked it. We will initiate your refund within 7 working days. It will take 3 to 5 days to reflect in your bank account. The entire return request to refund process will take 15 to 18 days.</p>
        <p>5) If an item is returned we will refund the amount after deducting the shipping fee and convenience fee in the case of COD orders. </p>
        <p>6) For credit card, debit card, net banking, and UPI payment, we shall refund directly into the same payment mode by which you have purchased the product. The refund will be initiated within 7-10 working days of receipt of your returned item. It will take 3 to 5 days to reflect in your account. For cash on delivery, we will share a RazorpayX link in which you will need to enter your bank account details to get a refund.</p>
        <p>7) We don't accept exchange and return on sale and discounted products.</p>

        <div>For any queries, please email us at <b><a href="#">ssbcap@gmail.com<a> </b>or call us during office hours at <a href="#">9870612551</a>.  </div>
        </div>
    </div>
</body>
</html>