<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
    body {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      padding: 0 50px;
    }
    .conatiner__title {
      font-size: 38px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  </style>
  <body>
    <div class="conatiner">
      <h3 class="conatiner__title">pleasure: terms and conditions</h3>
      <p>
        Welcome to Pleasure. This document is an electronic record in terms of
        Information Technology Act, 2020 of the Information Technology
        (Intermediaries guidelines) Rules,that require publishing the rules and
        regulations, privacy policy and Terms of Use for access or usage of
        Pleasure marketplace platform - www.pleasure.com (hereinafter referred
        to as "Platform")
      </p>
      <p>The Platform is owned by Pleasure Designs Private Limited</p>
      <p>
        Your use of the Pleasure and services and tools are governed by the
        following terms and conditions ("Terms of Use") as applicable to the
        Pleasure including the applicable policies which are incorporated herein
        by way of reference. By mere use of the Pleasure, You shall be
        contracting with Pleasure Designs Private Limited, the owner of the
        Platform. These terms and conditions including the policies constitute
        Your binding obligations, with Pleasure.
      </p>
      <p>
        For the purpose of these Terms of Use, wherever the context so requires
        "<b>You</b>" or "<b>User</b>" shall mean any natural or legal person who
        has agreed to become a buyer on Platform by providing data while
        registering on the Platform as Registered User. The term
        "<b>Pleasure</b>","<b>We</b>","<b>Us</b>","<b>Our</b>" shall mean
        Pleasure Designs Private Limited and its affiliates.
      </p>
      <p>
        When You use any of the services provided by Us through the Platform,
        including but not limited to, (e.g. Product Reviews, Seller Reviews),
        You will be subject to the rules, guidelines, policies, terms, and
        conditions applicable to such service, and they shall be deemed to be
        incorporated into this Terms of Use and shall be considered as part and
        parcel of this Terms of Use. We reserve the right, at Our sole
        discretion, to change, modify, add or remove portions of these Terms of
        Use, at any time without any prior written notice to You. You shall
        ensure to review these Terms of Use periodically for updates/changes.
        Your continued use of the Platform following the posting of changes will
        mean that You accept and agree to the revisions. As long as You comply
        with these Terms of Use, We grant You a personal, non-exclusive,
        non-transferable, limited privilege to enter and use the Platform. By
        impliedly or expressly accepting these Terms of Use, You also accept and
        agree to be bound by Pleasure Policies including but not limited to
        Privacy Policy as amended from time to time.
      </p>
    </div>
  </body>
</html>
