* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --header-bg-clr: #6c63ff;
  --header-clr: #ffffff;
  --brand-logo-clr: #ffffff;
  --sidebar-bg-clr: #ffffff;
  --sidebar-clr: #000000;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.main,
.sidebar__profile,
.hero__text,
.hero__image {
  margin: 0 auto;
}
.categories__title,
.showcase__title {
  font-size: 2rem;
  font-weight: 300;
  font-style: bold;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
.search__form {
  width: 88%;
}
.hero {
  width: 90%;
}

/* media queries for tablets */
@media screen and (min-width: 800px) {
  :root {
    font-size: 18px;
  }

  .header {
    padding: 0 3em;
    height: 10vh;
  }
  .sidebar {
    width: 20vw;
  }
  .form {
    height: 7vh;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .hero__text {
    padding: 3em 0;
  }
  .hero__image {
    width: 500px;
    height: 700px;
    background: url("../images/intro.jpg");
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -3;
    overflow: hidden;
  }
  .hero__title {
    font-size: 4rem;
    margin-bottom: 0.3em;
  }
  .hero {
    margin-top: 2em;
  }
  .hero__leading {
    font-size: 2rem;
    line-height: 1.5;
  }
  .hero__text {
    width: 40%;
  }

  .carousel__cell {
    width: 200px;
    height: 330px;
    margin-right: 1em;
  }

  .flickity-button {
    display: block;
  }

  .brand__cell {
    width: 100px;
    height: 100px;
  }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }

  .footer__categories {
    margin-left: 5%;
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  .products {
    padding: 2em;
  }

  .categories__title {
    text-align: left;
  }

  .products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
  .product__image {
    width: 380px;
    height: 450px;
  }

  .product__name {
    font-size: 1.6rem;
  }
  .product__price {
    font-size: 1.4rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .p__image {
    width: 40%;
  }

  .p__image img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  .info {
    width: 50%;
  }
  .cart__btn {
    width: 50%;
  }
  .buy__btn {
    width: 50%;
  }
  .comments__container {
    padding: 3em;
  }

  /* cart page */
  .orders {
    padding: 3em;
  }

  .showoff {
    margin-top: 1em;
  }
  .showoff__image {
    margin-top: 2em;
    height: 100vh;
  }
}

/*Media Queries for pc*/

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }

  .header {
    padding: 0 3em;
    height: 10vh;
  }
  .sidebar {
    width: 25vw;
  }
  .form {
    height: 7vh;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .hero__text {
    padding: 3em 0;
  }
  .hero__image {
    width: 500px;
    height: 700px;
    background: url("../images/intro.jpg");
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -3;
    overflow: hidden;
  }
  .hero__title {
    font-size: 4rem;
    margin-bottom: 0.3em;
  }
  .hero {
    margin-top: 2em;
  }
  .hero__leading {
    font-size: 2rem;
    line-height: 1.5;
  }
  .hero__text {
    width: 40%;
  }

  .carousel__cell {
    width: 200px;
    height: 330px;
    margin-right: 1em;
  }

  .flickity-button {
    display: block;
  }

  .brand__cell {
    width: 100px;
    height: 100px;
  }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
  .poster__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
}
.footer__categories {
  margin-left: 5%;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

.products {
  padding: 2em;
}

.categories__title {
  text-align: left;
}

.products__container {
  padding: 0 6em;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 3em;
}
.product__image {
  width: 300px;
  height: 420px;
}

.product__name {
  font-size: 1.6rem;
}
.product__price {
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.p__image {
  width: 35%;
  height: 70%;
}

.p__image img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 16px;
}
.info {
  width: 50%;
}
.cart__btn {
  width: 30%;
}
.buy__btn {
  width: 60%;
}
.comments__container {
  padding: 3em;
}

/* cart page */
.orders {
  padding: 3em;
}

.showoff {
  margin-top: 0.2em;
}
.showoff__image {
  height: 150vh;
  background-size: contain;
}
