<h1>Payment Page</h1>

<form action="" method="">
    <br>
    <label for="mobile">Mobile Number</label>
    <input id="mobile" type="tel" required=true pattern=".{10}">
    <br>
    <textarea name="address" id="" cols="50" rows="5" placeholder="Enter your Address" required=true></textarea>
    <br>

    <label for="name">Name</label>
    <input id="name" type="text" required=true>
    <br>
    <label for="card">Credit/Debit-card number</label>
    <input id="card" type="text" required=true pattern=".{16}">
    <br>
    <label for="date">Expiration Date</label>
    <input id="name" type="date" required=true>

    <label for="date">CVV/CVC</label>
    <input id="name" type="text" required=true pattern=".{3}">
    <br>
    <button>Pay Now</button>



</form>