<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="/stylesheets/users/signup.css">

<body>
    <div class="signup">
        <div class="left" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
            <h1 class="left__title">Pleasure2</h1>
            <p class="left__text">Dangerous fashion, Serious style.Be exclusive, Be Devine, Be yourself.</p>
            <a href="/auth/google" class="left__button">Sign in</a>
        </div>
        <div class="right" data-aos="fade-down" data-aos-delay="500" data-aos-duration="800"></div>
    </div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>